<div class="md:h-[100vh] h-fit justify-center align-middle">
  <div
    class="flex flex-col dark:bg-background-lighter bg-background justify-center gap-10 md:w-2/3 w-full md:h-2/3 h-fit mx-auto md:mt-[10vh] shadow-2xl md:rounded-lg"
  >
    <div class="flex flex-col justify-center gap-2 w-2/3 mx-auto mt-10">
      <h1
        class="md:text-6xl text-3xl mb-2 font-bold tracking-tight leading-tight text-primary dark:text-text"
      >
        Ryo Kamata
      </h1>
      <h2 class="text-accent text-xl font-bold">Engineer</h2>
    </div>
    <div class="flex flex-col justify-center gap-2 w-2/3 mx-auto mb-10">
      <h1 class="md:text-3xl text-xl mb-2 font-bold">About Me</h1>
      <p>
        I am an engineer with a passion for tinkering and building things that
        solve real world problems. <br />
        As a jack-of-all-trades with a background and interest in many areas
        such as customer service, electronics technician, data engineering,
        machine learning, and software development, I bring an adaptable and
        holistic approach to tackle any problem.
      </p>
    </div>
  </div>
</div>
