<div class="h-[100vh] justify-center align-middle text-gray-600">
  <div
    class="flex md:flex-row flex-col justify-around gap-4 bg-white md:w-2/3 w-full h-2/3 mx-auto md:mt-[10vh] shadow-2xl rounded-lg"
  >
    <div class="flex flex-col items-start gap-2 m-8 justify-normal">
      <div class="md:flex-grow"></div>
      <h1
        class="md:text-6xl text-3xl mb-2 font-bold tracking-tight leading-tight"
      >
        Hi, I'm Ryo
      </h1>
      <h2>An Engineer Based in NZ</h2>
      <div class="md:flex-grow"></div>
    </div>
    <div class="flex flex-col items-start justify-around gap-2 m-8">
      <div class="md:flex-grow"></div>
      <h1>About Me</h1>
      <p>Hi, I'm an University of Auckland graduate based in NZ.</p>
      <div class="md:flex-grow"></div>
    </div>
  </div>
</div>
