<div
  class="flex flex-col justify-between gap-1 h-full bg-white shadow-lg rounded-lg flex-1 overflow-hidden max-w-96 h-160 hover:shadow-xl transition-shadow duration-300 ease-in-out"
>
  <div class="flex flex-row gap-4 items-center justify-between p-4">
    <h1 class="text-xl font-semibold text-gray-800">{{ cardInput.heading }}</h1>
    @if (cardInput.icon){
    <img [src]="cardInput.icon" class="w-10 h-10" />
    }
  </div>
  <p class="text-gray-600 text-base p-4 flex-grow">
    {{ cardInput.description }}
  </p>
</div>
