@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #141208;
    --background: #f0ead6;
    --primary: #bca051;
    --secondary: #a2d898;
    --accent: #6dc789;
  }
  .dark {
    --text: #f8f6ed;
    --background: #070705;
    --primary: #ad9043;
    --secondary: #316827;
    --accent: #389455;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
